.action-block {
    position: fixed;
    padding: 16px;
    width: 300px;
    height: calc(100% - 60px);
    overflow: auto;
    border-right: 1px solid #a7bbc3;

    .title {
        font-weight: 600;
        font-size: 1em;
        color: #666;
        display: block;
        padding-bottom: 5px;
    }

    .movie-search {
        position: relative;

        .movie-name-list {
            position: absolute;
            top: 100%;
            width: 100%;
            height: 200px;
            box-shadow: 0px 0px 10px #d5d5d5;
            overflow: hidden;
            font-size: .9em;
            background-color: #fff;
            z-index: 10;

            >ul {
                height: 100%;
                overflow: auto;

                >li {
                    padding: 10px;
                    overflow: auto;
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;
                    line-height: 1.5;

                    &:hover {
                        background-color: #f7f7f7;
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        input {
            width: 100%;
            border: 0;
            border: 1px solid #ccc;
            outline: 0;
            padding: 10px 25px 10px 10px;
            background: url(../../../../icons/search.png) no-repeat 98% center;
            background-size: 20px;
        }
    }

    .sort-movie {
        margin-top: 20px;

        >ul {
            font-size: .9em;

            >li {
                padding: 6px 16px;
                cursor: pointer;

                &.active {
                    color: green;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }

    .filter-movie {
        margin-top: 20px;

        >div {
            overflow: hidden;
            height: 160px;
            margin-bottom: 20px;
            padding-left: 16px;

            >label {
                font-size: .9em;
            }

            >ul {
                font-size: .9em;
                height: 100%;
                overflow: auto;

                >li {
                    padding: 5px;
                }
            }
        }
    }
}