.movie-list {
    .movie-title {
        font-size: 1.8em;
        color: #888;
    }

    .movie-details {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;

        >div {
            width: 50%;
            padding: 10px;

            >label:last-child {
                padding-left: 10px;
                font-size: .9em;
                color: #666;
            }
        }
    }
}